---
layout: page
title : Edimar Calebe Castanho
header-img: "img/home-bg.jpg"
description: "Computer Engineer Student"
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
			Here is the part where I am supposed to describe myself !
			After 2 hours of intense staring competition with my laptop, this is what I came up with.
		</p>
		<p>
        Hi, my name is <strong>Edimar Calebe Castanho(Calebe94)</strong> and I am a passionate embedded systems developer.
        <ul>
            <li>
                I’m currently working on <a href="https://tinytoolsh.github.io">TinyToolSH</a>;
            </li>
            <li>
                I’m currently learning <strong>Flutter and Django</strong>;
            </li>
        </ul>
		</p>

    <br>

    <h3 align="center">Languages and Tools:</h3>

    <br>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            <a href="https://developer.android.com" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/android/android-original-wordmark.svg" alt="android" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.arduino.cc/" target="_blank">
                <img src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg" alt="arduino" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.gnu.org/software/bash/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.cprogramming.com/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.w3schools.com/cpp/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="cplusplus" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.w3schools.com/cs/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.w3schools.com/css/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.djangoproject.com/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/django/django-original.svg" alt="django" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.docker.com/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.electronjs.org" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/electron/electron-original.svg" alt="electron" width="40" height="40"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            <a href="https://expressjs.com" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://flask.palletsprojects.com/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://flutter.dev" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/flutterio/flutterio-icon.svg" alt="flutter" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://git-scm.com/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.gtk.org/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/GTK_logo.svg" alt="gtk" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.w3.org/html/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.java.com" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://jekyllrb.com/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/jekyllrb/jekyllrb-icon.svg" alt="jekyll" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.linux.org/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" alt="linux" width="40" height="40"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            <a href="https://mariadb.org/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/mariadb/mariadb-icon.svg" alt="mariadb" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.mongodb.com/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.mysql.com/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.nginx.com" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nginx/nginx-original.svg" alt="nginx" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://nodejs.org" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.python.org" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.sqlite.org/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.tensorflow.org" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg" alt="tensorflow" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://www.vagrantup.com/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/vagrantup/vagrantup-icon.svg" alt="vagrant" width="40" height="40"/>
            </a>
        </div>
        <div class="col-sm-1">
            <a href="https://vuejs.org/" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original-wordmark.svg" alt="vuejs" width="40" height="40"/>
            </a>
        </div>
    </div>

        <br>

        <center><p><img align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username=calebe94&show_icons=true&locale=en&layout=compact" alt="calebe94" /></p></center>

        <br>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Here's some stuff I've made.</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content">
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
                                <center>
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="" width="300px">
                                </center>
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
