---
import { menuLinks } from "@/site.config";

import '../../styles/icomoon.css';

---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"
>
<p>
<center>
<span>Contatos</span>
<br />
<a style="text-decoration: none;" href="mailto:contato@calebe.dev.br"><i style="font-size: 24px;" class="icon-envelop"></i></a>
<a style="text-decoration: none;" href="https://github.com/Calebe94"><i style="font-size: 24px;" class="icon-github"></i></a>
<a style="text-decoration: none;" href="https://gitlab.com/Calebe94"><i style="font-size: 24px;" class="icon-gitlab"></i></a>
<a style="text-decoration: none;" href="https://instagram.com/ocalebe94"><i style="font-size: 24px;" class="icon-instagram1"></i></a>
</center>
</p>
	</div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		{
			menuLinks.map((link) => (
				<a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
